.copyright
  | (c) 2020 リミートライブ.
  a(href="http://virlent.com") Virlent inc.
.menu
  a(
    href="https://kiyaku.app/plivacypolicy/tN7PyyIadYEYp3k71og6"
    target="_blank"
    rel="noreferrer noopener"
  ) プライバシポリシー
  a(
    href="https://kiyaku.app/termsOfService/hRonjYJYHqWxoR1JanCK"
    target="_blank"
    rel="noreferrer noopener"
  ) 利用規約
  a(
    href="/brand"
  ) ブランド

script(async src="https://www.googletagmanager.com/gtag/js?id=G-PHB7NMPTD9")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PHB7NMPTD9');
