.copyright
  | (c) 2020 リミートライブ.
  a(href="http://virlent.com") Virlent inc.
.menu
  a(
    href="https://kiyaku.app/plivacypolicy/tN7PyyIadYEYp3k71og6"
    target="_blank"
    rel="noreferrer noopener"
  ) プライバシポリシー
  a(
    href="https://kiyaku.app/termsOfService/hRonjYJYHqWxoR1JanCK"
    target="_blank"
    rel="noreferrer noopener"
  ) 利用規約