block vars

-
  function replaceAmp(str) {
    const re = str.replace(/img/g, 'img')
    return re
  }

.title !{attr.title}
if LAYOUT_BODY_CLASS == "functions"
  table
    tr
      td バージョン
      td #{attr.var}
    tr
      td 名称
      td #{attr.title}
    tr
      td 概要
      td #{attr.excerpt}

.content
  | !{replaceAmp(md.html)}
  block contentAfter
.categories
  a #{attr.category}
if attr.tags
  .tags
    each tag in attr.tags
      span.tag #{tag}
