block vars
  - var page_env = htmlWebpackPlugin.options.env
  if page_env.path
    - var md = require(`~/${page_env.path}.md`);
    - var attr = md.attributes
    - var parent = attr.parent
    - var root = page_env.root
    - var children = attr.children
    if parent
      - var path = `/${parent}/${attr.name}/`
    else
      - var path = `/${attr.name}/`
    if children
      - var parent_path = `/${children}/`
    if parent
      - var parent_path = `/${parent}/`

if md
  //- include /component/single-parts/pankuz
  .section-content
    include /component/single-parts/content
    //- if page_mds
    //-   each md, i in page_mds
    //-     if(attr.parent && md.attributes.title === attr.title)
    //-       if page_mds[i-1]
    //-         - var prev = page_mds[i-1].attributes
    //-         .prev
    //-           a(href=`${root}${prev.name}/`) #{prev.title}
    //-       if page_mds[i+1]
    //-         - var next = page_mds[i+1].attributes
    //-         .next
    //-           a(href=`${root}${next.name}/`) #{next.title}
      //- if attr.parent
      //-   .relation
      //-     h2 関連記事
          //- include /component/all.pug
    //- include /component/single-parts/content-footer
  //- -
  //-   function getJsonLd() {
  //-     return {
  //-       "@context": "http://schema.org",
  //-       "@type": "BlogPosting",
  //-       "mainEntityOfPage": {
  //-         "@type": "WebPage",
  //-         "@id": url
  //-       },
  //-       "headline": attr.title,
  //-       "datePublished": "2017-09-05T19:45:32+0900",
  //-       "dateModified": "2018-03-20T23:32:39+0900",
  //-       "author": {
  //-         "@type": "Person",
  //-         "name": attr.author
  //-       },
  //-       "description": attr.description,
  //-       "image": {
  //-         "@type": "ImageObject",
  //-         "url": `http://js.akirumade.com/images/ogp/${attr.name}.png`,
  //-         "width": 600,
  //-         "height": 320
  //-       },
  //-       "publisher": {
  //-         "@type": "Organization",
  //-         "name": "WP飽きるまで。",
  //-         "logo": {
  //-             "@type": "ImageObject",
  //-             "url": "http://js.akirumade.com/images/minilogo.png",
  //-             "width": 176,
  //-             "height": 52
  //-         }
  //-       }
  //-     } 
  //-   }

  //- script(type="application/ld+json").
  //-   !{JSON.stringify(getJsonLd())}

  //- if page_env.mode == "development"
  //-   script(src="https://d3plus.org/js/d3plus-text.v0.9.full.min.js")
  //-   script.
  //-     var TITLE = "#{attr.title}";
  //-     var SITE_NAME = "#{env.site.url}";
  //-     var FILE_NAME = "#{attr.name}";
