block vars
  - var page_env = htmlWebpackPlugin.options.env
  if page_env.path
    - var md = require(`~/${page_env.path}.md`);
    - var attr = md.attributes
    - var parent = attr.parent
    - var root = page_env.root
    - var children = attr.children
    if parent
      - var path = `/${parent}/${attr.name}/`
    else
      - var path = `/${attr.name}/`
    if children
      - var parent_path = `/${children}/`
    if parent
      - var parent_path = `/${parent}/`

if md
  .section-content
    include /component/single-parts/content
