block vars
  - var BODY_CLASS = "top"
  -
    var HEAD_LINE = [
      "密にならずに逢いにいける",
      "ファンミーティングをオンライン化。",
      "握手会・サイン会の代替販促会専用システム"
    ]
  -
    var MAIN_COPY = "「リミート®ライブ」は、コロナ禍において、握手会といった集客を伴うイベントの開催ができなくなってしまったタレントと「推し」に逢えなくなってしまったファンとを繋ぐ、密にならずに逢いに行けるWebサービスです。オンライントーク会、オンラインサイン会、オンライン2ショット用の専用機能を利用して「リミート®しよう！」を合言葉に是非ご活用ください。"
  -
    var SNS = [
      {
        key: "tw",
        label: "公式ツイッター",
        url: "https://twitter.com/remeetlive",
        shareLabel: 'Twitter',
        share: "https://twitter.com/intent/tweet?url=https%3A%2F%2Fremeet.live%2F&text=%E4%BB%8A%E3%80%81%E9%80%A2%E3%81%84%E3%81%AB%E3%81%AB%E8%A1%8C%E3%81%91%E3%82%8B%E3%83%AA%E3%83%9F%E3%83%BC%E3%83%88%E3%83%A9%E3%82%A4%E3%83%96%E3%80%82%E4%BD%93%E9%A8%93%E7%89%88%E3%81%A7%E3%83%AA%E3%83%9F%E3%83%BC%E3%83%88%E3%81%AE%E6%B5%81%E3%82%8C%E3%82%92%E7%A2%BA%E8%AA%8D%EF%BC%81%E6%8E%A8%E3%81%97%E3%81%AB%E9%80%A2%E3%81%86%E6%BA%96%E5%82%99%E3%81%AF%E3%81%A7%E3%81%8D%E3%81%A6%E3%81%BE%E3%81%99%E3%81%8B%EF%BC%9F"
      },
      {
        key: "fb",
        label: "公式FACEBOOKページ",
        shareLabel: 'FACEBOOK',
        url: "https://www.facebook.com/remeetlive",
        share: "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fremeet.live%2F"
      },
      {
        key: "yo",
        label: "公式YOUTUBE",
        url: "https://www.youtube.com/channel/UCruXABY_sqMuDZjW4H5-DKQ"
      },
      {
        key: 'le',
        shareLabel: 'LINE',
        share: "https://access.line.me/oauth2/v2.1/login?loginState=cGI676avUZDMSUxGG4mceh&loginChannelId=1446101138&returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fscope%3Dopenid%2Bprofile%2Bfriends%2Bgroups%2Btimeline.post%2Bmessage.write%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fsocial-plugins.line.me%252Flineit%252FloginCallback%253FreturnUrl%253Dhttps%25253A%25252F%25252Fsocial-plugins.line.me%25252Flineit%25252Fshare%25253Furl%25253D%252526text%25253D%252525E4%252525BB%2525258A%252525E3%25252580%25252581%252525E9%25252580%252525A2%252525E3%25252581%25252584%252525E3%25252581%252525AB%252525E3%25252581%252525AB%252525E8%252525A1%2525258C%252525E3%25252581%25252591%252525E3%25252582%2525258B%252525E3%25252583%252525AA%252525E3%25252583%2525259F%252525E3%25252583%252525BC%252525E3%25252583%25252588%252525E3%25252583%252525A9%252525E3%25252582%252525A4%252525E3%25252583%25252596%252525E3%25252580%25252582%252525E4%252525BD%25252593%252525E9%252525A8%25252593%252525E7%25252589%25252588%252525E3%25252581%252525A7%252525E3%25252583%252525AA%252525E3%25252583%2525259F%252525E3%25252583%252525BC%252525E3%25252583%25252588%252525E3%25252581%252525AE%252525E6%252525B5%25252581%252525E3%25252582%2525258C%252525E3%25252582%25252592%252525E7%252525A2%252525BA%252525E8%252525AA%2525258D%252525EF%252525BC%25252581%252525E6%2525258E%252525A8%252525E3%25252581%25252597%252525E3%25252581%252525AB%252525E9%25252580%252525A2%252525E3%25252581%25252586%252525E6%252525BA%25252596%252525E5%25252582%25252599%252525E3%25252581%252525AF%252525E3%25252581%252525A7%252525E3%25252581%2525258D%252525E3%25252581%252525A6%252525E3%25252581%252525BE%252525E3%25252581%25252599%252525E3%25252581%2525258B%252525EF%252525BC%2525259F%25252520https%2525253A%2525252F%2525252Fremeet.live%2525252F%252526from%25253Dline_scheme%26state%3D3e57af97980a03b8d567f2e227201b%26client_id%3D1446101138#/"
      }
    ]
  -
    var RESULTS = [
      {
        date: '2021年5月21日',
        company: 'アルバルク東京',
        description: '2021シーズンThanksイベント',
        optionsUse: ['シリアルチケット入場', '2ショット撮影'],
      },
      {
        date: '2021年2月6日、7日',
        company: 'ソンジェfrom SUPERNOVA',
        description: '3rdソロアルバム「男の花道〜SUNGJE\'S JAPANESE SONGBOOK〜」CD3タイプセット代替イベント',
        optionsUse: ['シリアルチケット入場', '2ショット撮影'],
      },
      {
        date: '2021年1月23日',
        company: 'Rain Drops',
        description: 'Rain Drops『オントロジー』オンライン個別トークイベント',
        optionsUse: ['シリアルチケット入場', '2ショット撮影'],
      },
      {
        date: '2020年12月12日',
        company: '一般財団法人BOATRACE振興会',
        description: 'オンライントークイベント',
        optionsUse: ['シリアルチケット入場', '遠隔監視'],
      },
      {
        date: '2020年12月1日',
        company: '北海道テレビ放送株式会社',
        description: 'onちゃん誕生日写真撮影会',
        optionsUse: ['シリアルチケット入場', '2ショット撮影', '遠隔監視'],
      },
      {
        date: '2020年11月3日',
        company: 'M!LK',
        description: 'M!LK 4thアルバム「HOME MADE CHU!?」オンライントーク特典会',
        optionsUse: ['シリアルチケット入場'],
      },
      {
        date: '2020年11月1日、22日、29日、12月27日',
        company: 'フットサルボーイズ!!!!!',
        description: '応援ありがとう！オンラインお見送り会',
        optionsUse: ['シリアルチケット入場'],
      },
      {
        date: '2020年11月21日',
        company: '高槻かなこ',
        description: '高槻かなこデビューシングル「Anti world」購入者限定オンラインイベント',
        optionsUse: ['シリアルチケット入場', '2ショット撮影'],
      },
      {
        date: '2020年10月24日',
        company: '川崎フロンターレ',
        description: 'ファン感謝デー2020',
        place: '麻生グラウンド',
        part: 1,
        talentinfo: '29名',
        talent: 2,
        fun: 2000,
        tickets: 2000,
        optionsUse: ['プレグラ', '2ショット撮影', '遠隔監視', 'シリアルチケット入場'],
        partner: '株式会社 三桂'
      },
      {
        date: '2020年09月12日',
        company: '浪川大輔',
        description: '浪川大輔 7thシングル「wonderful days」＆MUSIC CLIP COLLECTION “step by step”購⼊者限定オンラインイベント',
        optionsUse: ['シリアルチケット入場', '2ショット撮影'],
      },
      {
        date: '2020年8月22日、23日',
        company: 'M!LK',
        description: 'M!LK 3rdアルバム『Juvenilizm-青春主義-』オンライントーク特典会',
        optionsUse: ['シリアルチケット入場'],
      }
    ]
  -
    var RELEASES = [
      {
        date: '2020-12-12',
        tag: ['プレスリリース', 'リミート®実施'],
        body: '一般財団法人BOATRACE振興会様のオンライントークイベントをRe:Meet LIVEで実施致しました。テレボート会員様向けに事前応募抽選を行い、当選されたお客様にご参加頂きました 。選手（ボートレーサー）は自宅から運営本部とリモートでつなぎ、完全リモート状態で実施。イベント運営を株式会社クオラスが行い、システム貸し、特設サイト制作を当社が行いました。',
        link: 'https://remeet.live/press/201212-boatrace/'
      },
      {
        date: '2020-10-24',
        tag: ['プレスリリース', 'リミート®実施'],
        body: '川崎フロンターレ様ファン感謝デー2020のリミート®ライブ実施致しました。(参加: 全選手と監督計29名、サポーター2500名)',
        link: 'https://prtimes.jp/main/html/rd/p/000000009.000057781.html'
      },
      {
        date: '2020-09-13',
        tag: ['プレスリリース', 'リミート®実施'],
        body: '川崎フロンターレ様２回目のリミート®ライブ実施致しました。(参加: 原田選手(MF/28)、神谷選手(DF/26)、サポーター180名)',
        link: 'https://www.frontale.co.jp/info/2020/0907_9.html'
      },
      {
        date: '2020-08-07',
        body: '【通常盤限定】「Rain Drops『オントロジー』オンライン個別トークイベント」開催決定！！',
        tag: ['プレスリリース'],
        link: 'https://www.universal-music.co.jp/raindrops/news/2020-08-07-3/'
      },
      {
        date: '2020-08-05',
        body: 'ファンミーティングをオンライン化する「リミート®ライブ」川崎フロンターレとオンライングリーティングの効果検証を実施',
        tag: ['プレスリリース'],
        link: 'https://prtimes.jp/main/html/rd/p/000000008.000057781.html'
      },
      {
        date: '2020-06-19',
        body: '「SHIBUYA QWS（渋谷キューズ）」(渋谷スクランブルスクエア15F)で開催されたピッチイベント「QWSステージ#2」に登壇いたしました。',
        tag: ['イベント・登壇'],
        imgs: [
          { alt: '', src: '/images/release/2020-06-19-0.png', width: '150px'},
          { alt: '', src: '/images/release/2020-06-19-1.png', width: '150px'},
          { alt: '', src: '/images/release/2020-06-19-2.png', width: '150px'}
        ]
      },
      {
        date: '2020-06-03',
        body: 'オンライン握手会サービス「RE:MEET LIVE」サービス開始のお知らせ',
        tag: ['プレスリリース'],
        link: 'https://prtimes.jp/main/html/rd/p/000000007.000057781.html'
      },
      {
        date: '2020-05-31',
        body: 'ながさき経済2020年6月号にリミート®ライブと開発者 柴美津恵が特集されました。',
        tag: ['取材'],
        link: 'https://nagasaki-keizai.co.jp/archives/7539',
        imgs: [
          { alt: '', src: '/images/release/2020-06-nagasaki.jpg', width: '100px'}
        ]
      },
      {
        date: '2020-05-07',
        body: 'リモートで握手会を再現したWebサービス「Re:Meet LIVE」（リミート®ライブ）の開発を開始',
        tag: ['プレスリリース'],
        link: 'https://prtimes.jp/main/html/rd/p/000000001.000057781.html'
      },
      {
        date: '2020-04-23',
        body: 'remeet.liveドメイン取得、トレーラーサイト公開'
      }
    ]
  -
    var PARTNERS = [
      {
        name: '取り扱い代理店',
        items : [
          {
            name: '株式会社クオラス',
            link: 'https://quaras.co.jp'
          }
        ]
      },
      {
        name: 'チケット<br>プラットフォーム',
        items : [
          {
            name: 'Peatix japan 株式会社',
            link: 'https://peatix.com'
          }
        ]
      },
      {
        name: '協賛・協力',
        items : [
          {
            name: '株式会社三桂',
            link: 'http://www.sankeipro.co.jp/'
          },
          {
            name: 'SHIBUYA QWS（渋谷キューズ）',
            link: 'https://shibuya-qws.com/'
          }
        ]
      }
    ]
  -
    var POINTS = [
      {
        title: 'アカウント登録・アプリDL・投げ銭なし',
        disc: '一般的なビデオ通話アプリと異なり、事前のアプリダウンロードやアプリへのアカウント登録が不要です。個人情報や支払い情報登録を行わないため安心して利用いただます。また投げ銭などの支払い機能は非搭載。未成年の参加も安心。'
      },
      {
        title: 'ハガシのタイムロスは0秒',
        disc: '実際の握手会で参加者を切り替えるハガシは、WEB会議システムを利用するとタイムロスが発生します。専用設計されシステムでハガシは自動で行われ参加者の交代にかかる時間はほぼ0秒。タイムロスを減らし短時間で演者とスタッフに負担が少なく大規模なイベントを可能にします。'
      },
      {
        title: '画面そのまま2ショット撮影。スタンプ合成可能なデコショット',
        disc: 'リミート®の特徴的な2画面割は、ビデオ通話で演者と参加者の一体感を高めるともに、デコショットを利用して同時の2ショット撮影を可能にしています。また当日の日付やロゴ・エンブレムを合成可能です。(特許出願中)'
      },
      {
        title: 'プレミア大規模イベントがやりやすい',
        disc: '2021年1月、33列同時刻実施の実績で、約4000回の接続をしています。YOUTUBEなど各配信サイトで行う一般公開のオンラインイベントとの差別化し、スポーツ団体向けの大規模イベントのノウハウで安定したイベント運営が可能です。'
      },
      {
        title: 'New!マルチライン機能で複数口に対応',
        disc: '演者数が多く、参加者が複数口の列形成が可能なイベント向けにマルチライン機能を搭載。同一のシリアル番号で被りのない複数口参加が可能です。'
      }
    ]
include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        include /component/globals/header.pug
      .global-body
        section#first
          .bg_border
          .spacer(style="background-image: url(/images/hero.png)")
          .catch
            .small イベント実績多数。リミート®の回数15,000回突破(2021年1月実績)
            .big 驚き!興奮!サプライズ!
        section.hero
          .section-content
            .flex
              .logo
                img(src="/images/remeet-logo-small.png" width="60%")
              .title
                each item in HEAD_LINE
                  span.inline-block #{item}
              p #{MAIN_COPY}
            .flex
              img.img(src="/images/remeet-mock.png", alt="製品画像" width="300px" height="auto")
          .section-action
            a.btn(href="https://docs.google.com/forms/d/e/1FAIpQLScviZR3mgeyAO0f7ckb9BgXUBOr2PvfUpmtlTFbOsBS4mN3Sg/viewform") お問い合わせはこちらから
        section.section#playground
          h1
            .section-title 体験版
            .section-subtile PLAYGROUND
          .section-content
            p
              .inline-block リミート®を存分にお楽しみいただくために、
              .inline-block イベント前にリミート®の使用方法を
              .inline-block 確認しておきましょう。
          .section-action
            a.btn(href="https://event.remeet.live/n3VwOnlu/demo/") 事前にリミート®を試してみる(接続のみ)
            p ※メンテのため一時的に接続ができない場合は、時間をおいてアクセスしてください。
        section.section#results
          h1
            .section-title 実績
            .section-subtile RESULTS
          .swiper-container
            .swiper-wrapper
              each item in RESULTS
                .swiper-slide
                  .item
                    .date #{item.date}
                    .company
                      span #{item.company}様
                    .description
                      span #{item.description}
                    if item.partner
                      .li.partner
                        .label 協力・パートナー
                        .body #{item.partner}
                    //- .li.options
                    //-   .label ご利用機能
                    //-   .body
                    //-     each tag in item.optionsUse
                    //-       span.tips #{tag}
            .swiper-button-prev
            .swiper-button-next
            .swiper-pagination
          script. 
            const swiper = new Swiper('.swiper-container', {
              slidesPerView: 3,
              //- spaceBetween: 30,
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              }
            });
          style.
            .swiper-button-prev:after,
            .swiper-button-next:after {
              font-size: 25px;
            }
            .swiper-container {
              padding-bottom: 40px;
              padding-top: 10px;
            }
            .swiper-wrapper {
              height: auto;
            }
            .swiper-pagination {
              bottom: 0 !important;
            }
            .swiper-slide {
              height: auto;
            }
            .item {
              height: 100%;
              display: flex;
              flex-direction: column;
            }
        section.section#points
          h1
            .section-title リミート®の強み
            .section-subtile POINTS
          .section-content
            each point,i in POINTS
              .item
                .title
                  span.index 0#{i+1}
                  span #{point.title}
                .disc #{point.disc}
        section.section#partner
          h1
            .section-title オフィシャルパートナー
            .section-subtile OFFICIAL PARTNER
          .section-content
            p
             | サービス開始当初より、安定運営にご協力をいただける企業様をオフィシャルパートナーとしております。
            each area in PARTNERS
              .item
                .label !{area.name}
                .com
                  each item in area.items
                    .name
                      | #{item.name}
                      if item.link
                        | (
                        a(href=`${item.link}`) #{item.link}
                        |)
        section.section#price
          h1
            .section-title 価格
            .section-subtile PRICE
          .section-content
            p 標準システム利用料 未定
            p
              | ※ お急ぎの場合は、代理店もしくは下記お問い合わせからご連絡ください。
        section.section#contact
          h1
            .section-title お問い合わせ
            .section-subtile CONTACT
          .section-content
            .item
              a.btn(href="https://docs.google.com/forms/d/e/1FAIpQLScviZR3mgeyAO0f7ckb9BgXUBOr2PvfUpmtlTFbOsBS4mN3Sg/viewform") 総合窓口
        section.section#release
          h1
            .section-title お知らせ
            .section-subtile RELEASE
          .section-content
            each item in RELEASES
              .item
                .date #{item.date}
                if item.tag
                  .tags
                    each tag in item.tag
                      span.chip #{tag}
                .body
                  | #{item.body}
                  if item.link
                    a(href=`${item.link}`) #{item.link}
                if item.imgs
                  .imgs
                    each img in item.imgs
                      img(src=`${img.src}`, alt=`${img.alt}`, style=`width: ${img.width}`)
        section.section#share
          h1
            .section-title シェア
            .section-subtile SHARE
          .section-content
            each item in SNS
              if item.shareLabel
                .item
                  a.btn(
                    href=item.share
                    class=item.key
                  ) #{item.shareLabel}
      .global-footer
        include /component/globals/footer.pug
    .container.loading
      .inner(style="height: 100vh;width: 100%;display: flex;justify-content: center;align-items: center;")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="shape-rendering: auto;" width="100px" height="100px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid")
            path(d="M14.1,7.5l8.1,0v14.7c0,0.6,0,1.2,0.1,1.7c-0.1-0.6-0.1-1.2-0.1-1.7V7.5c0,0,63.6,0,63.6,0h-8.1 c0,0,0,14.7,0,14.7c0,7-4.6,13.3-11.7,17.1c-4.2,2.3-6.8,5.9-6.8,9.8v1.9c0,3.9,2.5,7.6,6.8,9.8c7.1,3.8,11.7,10,11.7,17.1 c0,0,0,14.7,0,14.7h8.1h-8.1H50h18V82.3c0-3.8-2.6-7.4-7-9.8c-0.1,0-0.1-0.1-0.2-0.1c-6.6-3.6-14.9-3.6-21.5,0 c-0.1,0-0.1,0.1-0.2,0.1c-4.5,2.4-7,6-7,9.8l0,10.2h18c0,0-18,0-18,0H14.1l8.1,0V77.8c0-7,4.6-13.3,11.7-17.1 c4.2-2.3,6.8-5.9,6.8-9.8v-1.9c0-3.9-2.5-7.6-6.8-9.8c-6.5-3.5-10.9-9-11.6-15.3l9.9,0c0.7,3.1,3,5.9,6.8,8c5.7,3,9.5,7.7,10.9,12.9 c1.4-5.2,5.3-9.9,10.9-12.9c3.8-2,6.2-4.8,6.8-8H32.2" fill="none" stroke="#e7e7e7" stroke-width="3" stroke-linecap="round" stroke-linejoin="round")
            animate(attributeName="stroke-dasharray" keyTimes="0;1" values="480 100;480 110" dur="16.666666666666664s" repeatCount="indefinite")
            animate(attributeName="stroke-dashoffset" keyTimes="0;1" values="0;-1180" dur="16.666666666666664s" repeatCount="indefinite")